<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ_新規メモ作成</title>
    <link rel="stylesheet" type="text/css" href="./css/general.css">
  </head>

  <body>
    <article>
      <h1>MEMO</h1>
      <form method="post" action="/create" class="create">
        <textarea type="text" name="memo"></textarea>
        <input type="submit" value="作成" class="button new">
      </form>
    </article>
  </body>
