<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ_新規作成</title>
  </head>

  <body>
    <article>
      <h1>MEMO</h1>
      <form method="post" action="/create">
        <textarea type="text" name="memo"></textarea>
        <input type="submit" value="作成">
      </form>
      </ul>
    </article>
  </body>
