<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ</title>
  </head>

  <body>
    <article>
      <h1>MEMO</h1>
      <a href="/new"><input type="button" value="メモを追加"></a>
      <ul>
      <% for i in 1 .. 4 do %>
        <li><a href="/show_<%= i %>">メモ<%= i %></a></li>
      <% end %>
      </ul>
    </article>
  </body>
  
