<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ_トップ</title>
    <link rel="stylesheet" type="text/css" href="./css/general.css">
  </head>

  <body>
    <article>
      <div class="top_containor">
        <h1><a href="/">MEMO</a></h1>
        <a href="/new"><input type="button" value="メモを追加" class="button add"></a>
      </div>
      <ul>
        <% @memo_ids.each_with_index { |id, i| %>
          <li><a href="/<%= id %>">メモ: <%= @memo_beginnings[i] %>...</a></li>
        <% } %>
      </ul>
    </article>
  </body>
</html>
