<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ</title>
  </head>

  <body>
    <article>
      <h1>MEMO</h1>
      <a href="/new"><input type="button" value="メモを追加"></a>
      <ul>
        <% @file_numbers.each { |num| %>
          <li><a href="/show_<%= num %>">メモ<%= num %></a></li>
        <% } %>
      </ul>
    </article>
  </body>
